* { 
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
} 


.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF; 
}

.btn2{
    background-color: transparent; 
    border: 1px solid #FFFFFF;
    padding: 10px 14px;
    border-radius: 4px;
    color: #FFFFFF;
}


/* nav style */

nav{
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
     width: 139px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu li a {
    text-decoration: none;
    color: #000000;
    
}

/* banner style */
 #banner {
    background-image: url("B13-A01-Knowledge-Vault/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.banner-container {
    width: 100%;
    max-width: 1600px; 
    margin: 0 auto; 
    text-align: center;
} 


.banner-container h1 {
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;

}

.banner-container h1 span {
    color: #30B868;
}

.banner-container p {
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 30px;
}

.early-access {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background: #ffffff;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
  color: #276941;
  
}

.early-access .icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(75, 149, 102, 0.15); 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.early-access .icon::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(75, 149, 102, 0.2);
  position: absolute;
}

.early-access .icon::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4b9566;
  position: absolute;
}

/* note section */

#note-section{
    background-color: #0000000F;
    padding: 0 120px 120px 120px ;
    gap: 44px;
   
}

#note-section .note{
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#note-section .note h1 {
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    padding-top: 48px;

}

#note-section .note p{
    color: #627382;
    line-height: 20px;
    margin-top: 20px;
}


.cards{
    display: flex;  
    justify-content: center;
    gap: 24px;
    padding-top: 48px;
    flex-wrap: wrap;
}


 .card{
    background-color: white;
    width: 100%;
    max-width: 322px;
    border-radius: 8px;
    padding: 50px 24px 24px 24px;
    gap: 16px;
    box-shadow: 0 0 8px 0 #0000000F; 
 }


.card-icon-center{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
} 


.card-icon{
    background-color: #F95555;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #001931;
    text-align: center;
    margin-bottom: 8px;
}

.card p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
    margin-top: 12px;
   
}

/* Second Brain Section */

#Second-Brain-Section{
    width: 83%;
    max-width: 1360px;
    min-height: 600px;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;
}

/* IMAGE */

.second-brain-image{
    width: 50%;
    max-width: 600px;
}

.second-brain-image img{
    width: 100%;
    display: block;
    border-radius: 12px;
}

/* CONTENT */

.second-brain-content{
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

/* SUBTITLE */

.second-brain-content span{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    
}

/* TITLE */

.second-brain-content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #001931;
}

/* DESCRIPTION */

.second-brain-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #627382;
}

/* FEATURE LIST */

.feature-list{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* SINGLE FEATURE */

.feature-item{
    display: flex;
    align-items: center;
    gap: 12px;
}

.feature-item img{
    width: 18px;
    height: 18px;
}

.feature-item h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
}
